/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* NAV BAR*/
nav ul {
    border: solid 6px rgba(52, 71, 61, 0.37);
    border-radius: 20px 20px;
    outline: rgba(0, 0, 0, 0.521) solid;
    outline-offset: 1px;
    align-items: center;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 25px; /* Add padding to the bottom */

    height: 30px;
}
a{

}
